<div class="carouselContainer">
    <div id="hpCarousel" class="carousel slide {{#iff carouselVersion "==" "Late2019" }}late2019{{/iff}}" data-ride="carousel">
      
      <!-- Wrapper for slides -->
      <div class="carousel-inner owl-carousel">
        {{#times 5}}
          <div class="item {{#if @first }}active{{/if}} slideIndex{{inc @index}}">
            <a href="{{productURL}}">
              <picture>
                <!-- WebP -->
                {{#iff carouselVersion "==" "Late2019" }}
                <!-- late2019 version -->
                <source type="image/webp" media="(max-width: 1023px)"  srcset="https://{{image.defaultHost}}/i/dfs/?layer0=[canvas=540,462]&layer1=[src=/i/dfs/{{productImage.name}}{{#if mobileproductimage}}_mobile{{/if}}&{{#if mobileMImageCrop}}{{mobileMImageCrop}}&{{/if}}{{#if mobilepimagefullheight}}anchor=tl&w=540{{else if mobileSidebarImage.name}}w=540&anchor=tl&top=111{{/if}}]{{#if mobileSidebarImage.name}}&layer2=[/i/dfs/{{mobileSidebarImage.name}}&w=540]{{/if}}{{#if sideBarCharOnMobile }}&layer3=[/i/dfs/{{sidebarCharacter.name}}&{{mobileCharacterCrop}}&{{mobileCharacterSize}}&bottom={{sideBarCBottomMob}}&left={{sideBarCLeftMob}}&anchor=bl]{{/if}}{{#if EspotImage.name}}{{#if espot1mobile}}&layer5=[src=/i/dfs/{{EspotImage.name}}{{#if espot1hasownmobileimage}}_mobile{{/if}}&anchor=tr&right={{EspotImage_mobileright}}&top={{EspotImage_mobiletop}}]{{/if}}{{/if}}&qlt={{#if mobileslidequality}}{{mobileslidequality}}{{else}}60{{/if}}&fmt.jpeg.chroma=1,1,1&fmt.jpeg.interlaced=true&fmt=webp">       
               {{else}}
               <source type="image/webp" media="(max-width: 1023px)" srcset="https://{{image.defaultHost}}/i/dfs/?layer0=[canvas=600,462]&layer1=[src=/i/dfs/{{productImage.name}}{{#if mobileproductimage}}_mobile{{/if}}&{{#if mobileMImageCrop}}{{mobileMImageCrop}}&{{/if}}{{#if mobilepimagefullheight}}anchor=tl&w=600{{else if mobileSidebarImage.name}}w=600&h=384&anchor=tl&top=78{{/if}}]{{#if mobileSidebarImage.name}}&layer2=[/i/dfs/{{mobileSidebarImage.name}}&w=600]{{/if}}{{#if sideBarCharOnMobile }}&layer3=[/i/dfs/{{sidebarCharacter.name}}&{{mobileCharacterCrop}}&{{mobileCharacterSize}}&bottom={{sideBarCBottomMob}}&left={{sideBarCLeftMob}}&anchor=bl]{{/if}}{{#if pricingImage.name}}&layer4=[src=/i/dfs/{{pricingImage.name}}{{#if pricingImageCrop}}&{{pricingImageCrop}}{{/if}}&anchor=br&right=0&bottom=30]{{/if}}{{#if EspotImage.name}}{{#if espot1mobile}}&layer5=[src=/i/dfs/{{EspotImage.name}}{{#if espot1hasownmobileimage}}_mobile{{/if}}&anchor=tr&right={{EspotImage_mobileright}}&top={{EspotImage_mobiletop}}]{{/if}}{{/if}}&qlt={{#if mobileslidequality}}{{mobileslidequality}}{{else}}60{{/if}}&fmt.jpeg.chroma=1,1,1&fmt.jpeg.interlaced=true&fmt=webp">
              {{/iff}}
                <source type="image/webp" media="(max-width: 1365px)" srcset="https://{{image.defaultHost}}/i/dfs/?layer0=[canvas=1024,488]&layer1=[src=/i/dfs/{{productImage.name}}&{{#if desktopMImageCrop}}{{desktopMImageCrop}}&{{/if}}{{#if productImageFullWidth}}w=1366&anchor=l&left=0{{else}}w=1024&h=619&anchor=l&left=342{{/if}}]{{#if image.name}}&layer2=[/i/dfs/{{image.name}}&left=0&h=100%]{{/if}}{{#if sidebarCharacter.name}}&layer3=[/i/dfs/{{sidebarCharacter.name}}&{{desktopCharacterCrop}}&{{desktopCharacterSize}}&bottom={{sideBarCBottom}}&left={{sideBarCLeft}}&anchor=bl]{{/if}}{{#if pricingImage.name}}&layer4=[src=/i/dfs/{{#if roi}}ROI_{{/if}}{{pricingImage.name}}&anchor=br&right=24&bottom=24]{{/if}}{{#if EspotImage.name}}&layer5=[src=/i/dfs/{{#if roi}}ROI_{{/if}}{{EspotImage.name}}&anchor=tr&right={{EspotImage_right}}&top={{EspotImage_top}}]{{/if}}&fmt.jpeg.chroma=1,1,1&w=1024&qlt={{#if desktopslidequality}}{{desktopslidequality}}{{else}}60{{/if}}&fmt.jpeg.interlaced=true&fmt=webp">

                <source type="image/webp" media="(min-width: 1366px)" srcset="https://{{image.defaultHost}}/i/dfs/?layer0=[canvas=1366,619]&layer1=[src=/i/dfs/{{productImage.name}}&{{#if desktopMImageCrop}}{{desktopMImageCrop}}&{{/if}}{{#if productImageFullWidth}}w=1366&h=619&anchor=l&left=0{{else}}w=1024&h=619&anchor=l&left=342{{/if}}]{{#if image.name}}&layer2=[/i/dfs/{{image.name}}&left=0&h=100%]{{/if}}{{#if sidebarCharacter.name}}&layer3=[/i/dfs/{{sidebarCharacter.name}}&{{desktopCharacterCrop}}&{{desktopCharacterSize}}&bottom={{sideBarCBottom}}&left={{sideBarCLeft}}&anchor=bl]{{/if}}{{#if pricingImage.name}}&layer4=[src=/i/dfs/{{#if roi}}ROI_{{/if}}{{pricingImage.name}}&anchor=br&right=24&bottom=24]{{/if}}{{#if EspotImage.name}}&layer5=[src=/i/dfs/{{#if roi}}ROI_{{/if}}{{EspotImage.name}}&anchor=tr&right={{EspotImage_right}}&top={{EspotImage_top}}]{{/if}}&qlt={{#if desktopslidequality}}{{desktopslidequality}}{{else}}60{{/if}}&fmt.jpeg.chroma=1,1,1&w=1366&fmt.jpeg.interlaced=true&fmt=webp">

                <!-- Jpg -->
                {{#iff carouselVersion "==" "Late2019" }}
                <!-- late2019 version -->
                <source media="(max-width: 1023px)"  srcset="https://{{image.defaultHost}}/i/dfs/?layer0=[canvas=540,462]&layer1=[src=/i/dfs/{{productImage.name}}{{#if mobileproductimage}}_mobile{{/if}}&{{#if mobileMImageCrop}}{{mobileMImageCrop}}&{{/if}}{{#if mobilepimagefullheight}}anchor=tl&w=540{{else if mobileSidebarImage.name}}w=540&anchor=tl&top=111{{/if}}]{{#if mobileSidebarImage.name}}&layer2=[/i/dfs/{{mobileSidebarImage.name}}&w=540]{{/if}}{{#if sideBarCharOnMobile }}&layer3=[/i/dfs/{{sidebarCharacter.name}}&{{mobileCharacterCrop}}&{{mobileCharacterSize}}&bottom={{sideBarCBottomMob}}&left={{sideBarCLeftMob}}&anchor=bl]{{/if}}{{#if EspotImage.name}}{{#if espot1mobile}}&layer5=[src=/i/dfs/{{EspotImage.name}}{{#if espot1hasownmobileimage}}_mobile{{/if}}&anchor=tr&right={{EspotImage_mobileright}}&top={{EspotImage_mobiletop}}]{{/if}}{{/if}}&qlt={{#if mobileslidequality}}{{mobileslidequality}}{{else}}60{{/if}}">
                {{else}}
                <source media="(max-width: 1023px)"  srcset="https://{{image.defaultHost}}/i/dfs/?layer0=[canvas=600,462]&layer1=[src=/i/dfs/{{productImage.name}}{{#if mobileproductimage}}_mobile{{/if}}&{{#if mobileMImageCrop}}{{mobileMImageCrop}}&{{/if}}{{#if mobilepimagefullheight}}anchor=tl&w=600{{else if mobileSidebarImage.name}}w=600&h=384&anchor=tl&top=78{{/if}}]{{#if mobileSidebarImage.name}}&layer2=[/i/dfs/{{mobileSidebarImage.name}}&w=600]{{/if}}{{#if sideBarCharOnMobile }}&layer3=[/i/dfs/{{sidebarCharacter.name}}&{{mobileCharacterCrop}}&{{mobileCharacterSize}}&bottom={{sideBarCBottomMob}}&left={{sideBarCLeftMob}}&anchor=bl]{{/if}}{{#if pricingImage.name}}&layer4=[src=/i/dfs/{{#if roi}}ROI_{{/if}}{{pricingImage.name}}{{#if pricingImageCrop}}&{{pricingImageCrop}}{{/if}}&anchor=br&right=0&bottom=30]{{/if}}{{#if EspotImage.name}}{{#if espot1mobile}}&layer5=[src=/i/dfs/{{EspotImage.name}}{{#if espot1hasownmobileimage}}_mobile{{/if}}&anchor=tr&right={{EspotImage_mobileright}}&top={{EspotImage_mobiletop}}]{{/if}}{{/if}}&qlt={{#if mobileslidequality}}{{mobileslidequality}}{{else}}60{{/if}}">
                {{/iff}}
                <source media="(max-width: 1365px)" srcset="https://{{image.defaultHost}}/i/dfs/?layer0=[canvas=1024,488]&layer1=[src=/i/dfs/{{productImage.name}}&{{#if desktopMImageCrop}}{{desktopMImageCrop}}&{{/if}}{{#if productImageFullWidth}}w=1366&anchor=l&left=0{{else}}w=1024&h=619&anchor=l&left=342{{/if}}]{{#if image.name}}&layer2=[/i/dfs/{{image.name}}&left=0&h=100%]{{/if}}{{#if sidebarCharacter.name}}&layer3=[/i/dfs/{{sidebarCharacter.name}}&{{desktopCharacterCrop}}&{{desktopCharacterSize}}&bottom={{sideBarCBottom}}&left={{sideBarCLeft}}&anchor=bl]{{/if}}{{#if pricingImage.name}}&layer4=[src=/i/dfs/{{#if roi}}ROI_{{/if}}{{pricingImage.name}}&anchor=br&right=24&bottom=24]{{/if}}{{#if EspotImage.name}}&layer5=[src=/i/dfs/{{#if roi}}ROI_{{/if}}{{EspotImage.name}}&anchor=tr&right={{EspotImage_right}}&top={{EspotImage_top}}]{{/if}}&fmt.jpeg.chroma=1,1,1&w=1024&qlt={{#if desktopslidequality}}{{desktopslidequality}}{{else}}60{{/if}}">

                <source media="(min-width: 1366px)" srcset="https://{{image.defaultHost}}/i/dfs/?layer0=[canvas=1366,619]&layer1=[src=/i/dfs/{{productImage.name}}&{{#if desktopMImageCrop}}{{desktopMImageCrop}}&{{/if}}{{#if productImageFullWidth}}w=1366&h=619&anchor=l&left=0{{else}}w=1024&h=619&anchor=l&left=342{{/if}}]{{#if image.name}}&layer2=[/i/dfs/{{image.name}}&left=0&h=100%]{{/if}}{{#if sidebarCharacter.name}}&layer3=[/i/dfs/{{sidebarCharacter.name}}&{{desktopCharacterCrop}}&{{desktopCharacterSize}}&bottom={{sideBarCBottom}}&left={{sideBarCLeft}}&anchor=bl]{{/if}}{{#if pricingImage.name}}&layer4=[src=/i/dfs/{{#if roi}}ROI_{{/if}}{{pricingImage.name}}&anchor=br&right=24&bottom=24]{{/if}}{{#if EspotImage.name}}&layer5=[src=/i/dfs/{{#if roi}}ROI_{{/if}}{{EspotImage.name}}&anchor=tr&right={{EspotImage_right}}&top={{EspotImage_top}}]{{/if}}&qlt={{#if desktopslidequality}}{{desktopslidequality}}{{else}}60{{/if}}">

                <img src="https://{{image.defaultHost}}/i/dfs/?layer0=[canvas=1366,619]&layer1=[src=/i/dfs/{{productImage.name}}&{{#if desktopMImageCrop}}{{desktopMImageCrop}}&{{/if}}{{#if productImageFullWidth}}w=1366&h=619&anchor=l&left=0{{else}}w=1024&h=619&anchor=l&left=342{{/if}}]{{#if image.name}}&layer2=[/i/dfs/{{image.name}}&left=0&h=100%]{{/if}}{{#if sidebarCharacter.name}}&layer3=[/i/dfs/{{sidebarCharacter.name}}&{{desktopCharacterCrop}}&{{desktopCharacterSize}}&bottom={{sideBarCBottom}}&left={{sideBarCLeft}}&anchor=bl]{{/if}}{{#if pricingImage.name}}&layer4=[src=/i/dfs/{{#if roi}}ROI_{{/if}}{{pricingImage.name}}&anchor=br&right=24&bottom=24]{{/if}}{{#if EspotImage.name}}&layer5=[src=/i/dfs/{{#if roi}}ROI_{{/if}}{{EspotImage.name}}&anchor=tr&right={{EspotImage_right}}&top={{EspotImage_top}}]{{/if}}&qlt={{#if desktopslidequality}}{{desktopslidequality}}{{else}}60{{/if}}">
              </picture>

              <div class="{{#iff carouselVersion "==" "Late2019" }}largeCD {{/iff}}bannerTextContainer {{countdownClassName}} {{#if hasCountdown}} carCountdown{{/if}}" data-messageid=slide_{{inc @index}}>
                <!-- START:: V2 CountDown (PB) Nov 1 2019-->
                  <div class="countdownContainer countdown_v2 {{countdownClassName}}{{#if hasCountdown}}{{else}} nonCDText{{/if}}"
                        data-deadline="{{countdownDeadline}}"
                        data-startdays="{{daysBeforeEnd}}"
                        data-daterange1="{{textVariance1}}"
                        data-daterange2="{{textVariance2}}"
                        data-daterange3="{{textVariance3}}"
                        data-daterange4="{{textVariance4}}"
                        data-hidefinalmessage="{{#if hideFinalMessage}}true{{else}}false{{/if}}"
                        data-testdate="">
                    <h6 class="cdHeader"><!-- DEFAULT HEADER TEXT--></h6>
                      <section class="timer{{#if hasCountdown}} showCountdown{{else}} hideCountdown{{/if}}">
                        {{!-- <img src="//dfs.a.bigcontent.io/v1/static/loading_please_wait?v30" alt="loading.."> --}}
                      </section>
                    <h6 class="cdFooter"><!-- DEFAULT FOOTER TEXT--></h6>
                  </div>
                  <div style="display:none;" class="cdEndMessage {{countdownClassName}}">
                    <h3>ENDS TODAY<br>Order direct until midnight</h3>
                  </div>
                <!-- END:: V2 CountDown (PB) Nov 1 2019-->
              </div>
            </a>
            {{#iff carouselVersion "==" "Late2019" }}
              
                <div class="availability">
                  {{#if showIcons }}
                    <div class="colour">
                      <p><img src="https://images.dfs.co.uk/i/dfs/lister_colourwheel .png?w=20">More colours available</p>
                    </div>
                    <div class="sizes">
                      <p><img src="https://images.dfs.co.uk/i/dfs/Lister-sizes">More sizes <span>available</span></p>
                    </div>
                    <div class="clearfix"></div>
                  {{/if}}
                </div>
               
                <div class="productDetail _mobile_ {{priceLabelStyle}}">
                    <h4 class="product_title">{{{_title}}}</h4>
                    <h5 class="offer_price">{{priceLabel.[0]}} {{priceLabel.[1]}}</h5>
                    <p class="additional_pricing_details">{{#iff priceLabel.[4] "==" "none" }}{{priceLabel.[2]}} <span>{{priceLabel.[3]}}</span> {{priceLabel.[7]}}{{else}}{{priceLabel.[4]}} {{priceLabel.[2]}} <span>{{priceLabel.[3]}}</span>{{/iff}}</p>
                    <div class="carousel_cardlist_button">
                      <a href="{{shopButtonUrl}}">
                        <p style="color:#000;border: 2px solid #000">{{shopButtonText}}</p>
                      </a>
                    </div>
                </div>

                <div class="productDetail _label_ {{priceLabelStyle}}">
                  <div class="label_left">
                    <h5 class="offer_price">{{priceLabel.[0]}}<span>{{priceLabel.[1]}}</span>{{priceLabel.[3]}}</h5>
                  </div>
                  
                  <div class="label_middle ">
                    {{#iff priceLabel.[4] "==" "none" }}
                    <h4 class="product_title">{{{_title}}} <span>{{priceLabel.[2]}}</span></h4>
                    {{else}}
                    <h4 class="product_title">{{{_title}}} <span>{{priceLabel.[4]}}<br>{{priceLabel.[2]}}</span></h4>
                    {{/iff}}
                  </div>

                  <div class="label_right_finance">
                    <p class="additional_pricing_details"><span>{{financeArray.[0]}}</span>{{financeArray.[2]}}<span></span>{{financeArray.[1]}}</p>
                  </div>
                
                  {{#if priceLabel.[5]}}
                    <div class="available_colours">
                      <img src="https://images.dfs.co.uk/i/dfs/{{priceLabel.[5]}}/colour_swatches?qlt=100" alt="{{priceLabel.[5]}}">
                    </div>
                    </div>
                  {{/if}}
             {{/iff}}
             
            {{#if EspotImage2.name }}
            <div class="linkableRoundel2">
              {{#if espot2URL }}
                <a href="{{espot2URL}}">
              {{/if}}
         
              <picture>
                <!-- webp -->

                  <!-- 600 Mobile roundel 2-->
                  <source type="image/webp" media="(max-width: 1023px)"  srcset="//images.dfs.co.uk/i/dfs/{{#if roi}}ROI_{{/if}}{{EspotImage2.name}}{{#if espot2hasownmobileimage}}_mobile{{/if}}?w=80%&qlt=100&fmt.jpeg.chroma=1,1,1&fmt.jpeg.interlaced=true&fmt=webp" />

                  <!-- 1024 width roundel 2-->
                  <source type="image/webp" media="(max-width: 1365px)" srcset="//images.dfs.co.uk/i/dfs/{{#if roi}}ROI_{{/if}}{{EspotImage2.name}}?w=80%&qlt=100&fmt.jpeg.chroma=1,1,1&fmt.jpeg.interlaced=true&fmt=webp" />

                  <!-- 1366 width roundel 2-->
                    <source type="image/webp" media="(min-width: 1366px)" srcset="//images.dfs.co.uk/i/dfs/{{#if roi}}ROI_{{/if}}{{EspotImage2.name}}?qlt=90&fmt.jpeg.chroma=1,1,1&fmt.jpeg.interlaced=true&fmt=webp" />

                <!-- Jpg -->

                  <!-- 600 Mobile roundel 2-->
                    <source type="image/webp" media="(max-width: 1023px)"  srcset="//images.dfs.co.uk/i/dfs/{{#if roi}}ROI_{{/if}}{{EspotImage2.name}}{{#if espot2hasownmobileimage}}_mobile{{/if}}?w=80%&qlt=100" />

                  <!-- 1024 width roundel 2-->

                    <source media="(max-width: 1365px)" srcset="//images.dfs.co.uk/i/dfs/{{#if roi}}ROI_{{/if}}{{EspotImage2.name}}?w=80%&qlt=100" />

                  <!-- 1366 width roundel 2-->
                    <source media="(min-width: 1366px)" srcset="//images.dfs.co.uk/i/dfs/{{#if roi}}ROI_{{/if}}{{EspotImage2.name}}?qlt=90" />

                  <img src="//images.dfs.co.uk/i/dfs/{{#if roi}}ROI_{{/if}}{{EspotImage2.name}}?w=80%&qlt=100" alt ="{{EspotImage2.name}}"/>
              </picture>
              {{#if espot2URL }}
                </a>
              {{/if}}
            </div>
            {{/if}}
          </div>
          {{/times}}
      </div>

    </div>
    
  <style>
  /* June 13th 2018 */
  .hideCountdown {
    display:none;
  }

  div#hpCarousel .availability {
    display: none;
  }

  .productDetails {
    font-family: "HelveticaNeueW01-75Bold", Arial, sans-serif;
    font-size: 14px;
    color: #6e14bb;
    margin-top:5px;
    margin-bottom:40px;
  }
  .productDetails span {
    font-family: "HelveticaNeueW01-Thin", Arial, sans-serif;
    font-size: 14px;
    color:#444;
  }
  .productDetails h4 {
    display: inline-block;
    margin: 5px 8px;
  }
  .bannerTextContainer.carCountdown {
    display: table;
  }
  .bannerTextWrapper{
    display: table-cell;
    vertical-align: middle;
  }
  .bannerTextWrapper h2.cdText span {
    margin: 0 1px;
    font-size: 15px !important;
  }
  {{#times 5}}
  .bannerTextContainer[data-messageid="slide_{{inc @index}}"] {
    bottom: {{textBottomPositionL}}px;
    left:{{textLeftPositionL}}px;
  }
  .item.slideIndex{{inc @index}} .linkableRoundel2 {
    position: absolute;
    top: {{EspotImage2_top}}px ;
    {{#if anchorDEspot2Left}}left:{{else}}right:{{/if}} {{EspotImage2_right}}px;
  }
  .slideIndex{{inc @index}} .countdownContainer.HPcd-default.nonCDText h6.cdHeader {
    font-size: {{#if textAFontSize}}{{textAFontSize}}{{else}}20{{/if}}px !important;
    line-height: {{#if textAFontSize}}{{textAFontSize}}{{else}}20{{/if}}px !important;
    color:#{{#if textAColour }}{{csv textAColour 'D'}}{{else}}000000{{/if}} !important;
  }
  .slideIndex{{inc @index}} .countdownContainer.HPcd-default.nonCDText h6.cdFooter {
    font-size: {{#if textBFontSize}}{{textBFontSize}}{{else}}18{{/if}}px !important;
    line-height: {{#if textBFontSize}}{{textBFontSize}}{{else}}18{{/if}}px !important;
    color:#{{#if textBColour}}{{ csv textBColour 'D'}}{{else}}000000{{/if}} !important;
  }

/* Price Label Top Offsets */
 .slideIndex{{inc @index}}  h5.offer_price {
    position: relative;
    top: {{priceLabelTop.[0]}}px;
}

.slideIndex{{inc @index}} h4.product_title {
    position: relative;
     top: {{priceLabelTop.[1]}}px;
}

.slideIndex{{inc @index}}  p.additional_pricing_details {
    position: relative;
     top: {{priceLabelTop.[2]}}px;
}

  @media (max-width: 1365px) {
    .bannerTextContainer[data-messageid="slide_{{inc @index}}"] {
      bottom: {{textBottomPositionM}}px;
      left:{{textLeftPositionM}}px;
    }
    .item.slideIndex{{inc @index}} .linkableRoundel2 {
      position: absolute;
      top: {{EspotImage2_top1024}}px ;
      {{#if anchorDEspot2Left}}left:{{else}}right:{{/if}} {{EspotImage2_right1024}}px;
    }
    .slideIndex{{inc @index}} .countdownContainer.HPcd-default.nonCDText h6.cdHeader {
      font-size:{{#if textAFontSize}}{{math textAFontSize "-" 5}}{{else}}14{{/if}}px !important;
      line-height:{{#if textAFontSize}}{{math textAFontSize "-" 5}}{{else}}14{{/if}}px !important;
    }
    .slideIndex{{inc @index}} .countdownContainer.HPcd-default.nonCDText h6.cdFooter {
      font-size:{{#if textBFontSize}}{{math textBFontSize "-" 5}}{{else}}14{{/if}}px !important;
      line-height:{{#if textBFontSize}}{{math textBFontSize "-" 5}}{{else}}14{{/if}}px !important;
    }

  }
  @media (max-width: 1023px) {
    .bannerTextContainer[data-messageid="slide_{{inc @index}}"] {
      bottom: {{textBottomPositionS}}px;
      left:{{textLeftPositionS}}px;
    }
    .item.slideIndex{{inc @index}} .linkableRoundel2 {
      position: absolute;
      top: {{Espot2Image_mobiletop}}px ;
      {{#if anchorMEspot2Left}}left:{{else}}right:{{/if}} {{Espot2Image_mobileright}}px;
    }

  }
  {{/times}}
  @media (max-width: 1365px) {
    .bannerTextWrapper h2.cdText span {
      margin: 0 1px;
      font-size: 12px !important;
    }
  }
@media (max-width: 1023px) {
    {{#if espot2mobile}}
      div.linkableRoundel2 {
        display:block;
      }
      {{else}}
      div.linkableRoundel2 {
        display:none;
      }
    {{/if}}

}

 {{#iff carouselVersion "==" "Late2019" }}
  @media (max-width: 1023px) {

   div#hpCarousel .carousel-inner {
        width: 540px;
        margin: auto;
    }

    div#hpCarousel.late2019 .left.carousel-control,
    div#hpCarousel.late2019 .right.carousel-control {
    background-position: 0px -124px;
    height: 68px;
    width: 48px;
    transform: scale(.5);
}

  div#hpCarousel .carousel-inner {
      height: 710px;
  }

  div#hpCarousel.late2019 .right.carousel-control {
    background-position: -15px -124px;
  }

  .carousel-control.right {
    left: 565px;
  }

 div#hpCarousel .availability {
    min-height: 40px;
    display:block;
  }

  div#hpCarousel .availability p {
      font-family: Arial,Verdana,Helvetica,sans-serif;
      font-size: 14px !important;
  }

  div#hpCarousel .availability img {
      padding: 0 5px 0 0;
      position: relative;
      top: 2px;
  }
  div#hpCarousel  .availability div {
      width: 50%;
      float:left;
      padding: 0 5px;
      box-sizing: border-box;
    }
    div#hpCarousel  .availability .sizes {
      text-align: right;
    }
    div#hpCarousel  .productDetail._mobile_ {
      text-align: center;
      font-family: "HelveticaNeueW01-45Ligh", Arial, sans-serif;
      color:#666;
      display:block;
    }

    div#hpCarousel  .productDetail._label_ {
      display:none;
    }
    div#hpCarousel  .productDetail._mobile_  strong {
        font-family: "HelveticaNeueW01-75Bold", Arial, sans-serif;
    }

    div#hpCarousel  .productDetail._mobile_ h4.product_title{
      font-size: 20px;
      font-family: "HelveticaNeueW01-45Ligh", Arial, sans-serif;
      font-weight: 100;
      padding:0 0 7.5px;
    }
    div#hpCarousel  .productDetail._mobile_ h5.offer_price {
      font-size: 29px;
      font-family: "HelveticaNeueW01-75Bold", Arial, sans-serif;
      color:#c24349;
      padding: 0 0 10px;
    }
    div#hpCarousel  .productDetail._mobile_ p {
      font-size: 18px;
    }

    p.additional_pricing_details span {
        font-family: "HelveticaNeueW01-75Bold", Arial, sans-serif;
        color: #c24349;
        font-weight: 900;
    }

    .carousel-indicators .active {
      background-color: #444;
    }

    .carousel-indicators li {
      background-color: #ccc;
    }

  .carousel_cardlist_button {
      width: auto;
      margin: 17.5px auto;
  }

  .carousel_cardlist_button p {
      width: auto;
      display: inline-block;
      padding: 8px 32px;
      text-align: center;
      font-family: "HelveticaNeueW01-75Bold", Arial, sans-serif;
      font-weight: 900;
      margin: 0 auto;
      line-height: 21px !important;
  }

}
 {{/iff}}

  </style>
